@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/device/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/device/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/device/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #242424;
  background-color: #ffffff;
}

.button {
  font-family: "Relaway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.page-header {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.header-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #ffe17f;
  color: black;
}

.logo {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-top: -23px;
  margin-bottom: 30px;
  width: 145px;
  height: 36px;
}

.additional-menu {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 30px;
  width: 1040px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.additional-menu a {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: black;
}

.search-form {
  display: flex;
}

.search-button,
.search-input {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.search-input {
  margin: 0;
  padding: 10px;
  width: 359px;
}

.search-button {
  margin: 0;
  padding: 10px 55px;
  flex-grow: 1;
}

.log-in {
  width: 81px;
  flex-grow: 0;
}

.compare {
  width: 107px;
}

.shopping-cart {
  width: 100px;
}

.site-menu,
.catalog-site-menu {
  width: 1040px;
  margin: 0;
  padding: 0;
  margin-bottom: 136px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-site-menu {
  margin-bottom: 23px;
}

.catalog-link {
  margin: 0;
  padding: 0;
  width: 293px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2em;
  align-self: center;
}

.site-menu-list {
  width: 471px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-menu-link {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.lead-number {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: black;
}

.leaderboard {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.leaderboard-gallery {
  width: 530px;
  padding-left: 30px;
  margin-right: 40px;
  background: url("/device/img/slider-1.jpg");
}

.leaderboard-description {
  width: 560px;
}

.slider-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  width: 545px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.slider-char {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: black;
}

.slider-char-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.categories-list {
  margin: 0;
  padding: 0;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.categories-item {
  width: 160px;
}

.categories-img-container {
  height: 160px;
  background: #ffe17f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.categories-img {
  background-color: #ffe17f;
}

.categories-link {
  margin: 0;
  padding: 0;
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: black;
}

.advantages {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.advantages-list {
  margin: 0;
  padding: 0;
  width: 287px;
  list-style: none;
}

.advantages-current {
  background-color: black;
  color: #ffe17f;
}

.advantages-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.advantages-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.advantages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.advantages-description-container {
  width: 448px;
}

.advantages img {
  width: 125px;
}

.delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background: #f0f0f0;
  margin-bottom: 70px;
}

.delivery-mark {
  padding: 30px 42px;
}

.delivery-img {
  width: 125px;
  height: 100px;
}

.delivery-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.contacts-container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.transport-company-list {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts {
  width: 532px;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-adress {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.contacts-schedule-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe {
  width: 100%;
  background: #f0f0f0;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  width: 348px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-description {
  width: 560px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.subscribe-free {
  width: 128px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-form-container {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.subscribe-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 144px;
}

.subscribe-form {
  margin: 0;
  display: flex;
  align-items: flex-end;
  width: 810px;
}

.subscribe-input {
  width: 541px;
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 16px;
}

.subscribe-button {
  width: 253px;
  margin: 0;
  padding: 18px 39px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer {
  background: #444444;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 62px;
  padding-bottom: 62px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-address-text {
  width: 240px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-site-menu-list {
  width: 445px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.footer-site-menu-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-phone {
  width: 175px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer-developer {
  width: 150px;
}

.social-list {
  width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-link {
  background: rgba(255, 255, 255, 0.3);
}

.inner-header {
  margin: 0;
  padding: 0;
  width: 1080px;
}

.inner-header-container {
  width: 1160px;
  margin: 0 auto;
}

.catalog-title {
  margin: 35px 0 16px 60px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  margin: 0 0 35px 60px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumbs a {
  margin-right: 36px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-products {
  width: 100%;
  background: #f0f0f0;
}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-filter {
  width: 200px;
  margin: 0 60px;
}

.catalog-filter-group {
  width: 200px;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.control-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-right-column {
  width: 840px;
}

.sorting {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.filter-title,
.label-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting-button {
  width: 60px;
  height: 30px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.products {
  background-color: white;
  padding-bottom: 78px;
}
.product-card-list {
  margin: 0;
  padding: 70px 40px 44px 40px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
}

.product-card-item {
  width: 360px;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-card-link {
  text-decoration: none;
}

.show-more {
  padding: 18px 278px;
  margin: 0 40px;
  background-color: white;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination-container {
  margin: 0 40px;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.pagination-prev,
.pagination-next {
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  padding: 10px 15px;
}
